In [1]:
## 找出没有的企业

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(io=r"C:\Users\TUNGEE\Desktop\产业上下游结果数据-人工确认.xlsx",sheet_name="Sheet3")

In [3]:
df1 = df[["股票名称"]]
df1

         股票名称
0        平安银行
1         万科A
2        国华网安
3        ST星源
4        深振业A
...       ...
5273     恒太照明
5274      夜光明
5275     天力复合
5276     鼎智科技
5277  九号公司-WD

[5278 rows x 1 columns]

In [4]:
df2 = pd.read_excel(io=r"D:\code\jupyter\json-to\diff.xlsx",sheet_name="Sheet1")

In [5]:
df2 = df2[["股票名称"]]
df2 = df2.drop_duplicates()
df2

     股票名称
0    天健集团
1    ST中珠
2    交运股份
3    龙建股份
4    富奥股份
5    长虹华意
6    景峰医药
7    中通客车
8     华尔泰
9    翔腾新材
10   海峡股份
11   洽洽食品
12   金禾实业
13   郑中设计
14    道道全
15   赛隆药业
16    英派斯
17   三川智慧
18    金通灵
19   聚光科技
20  ST有棵树
21   博腾股份
22   康泰生物
23   华瑞股份
24   电连技术
25   长盛轴承
26   博硕科技
27   霍普股份
28   瑞纳智能
29   唯万密封
30    智立方
31   上海建工
32   万华化学
33   汇通能源
34   重庆建工
35   宁波能源
36   德创环保
37   公牛集团
38   宁水集团
39   永悦科技
40   均瑶健康
41   当虹科技
42   东芯股份
43   中国电研
44   伟思医疗
45    迈信林
46   迪尔化工
47    朱老六
48   天罡股份
49   华洋赛车
50   球冠电缆

In [15]:
import pandas as pd


# 使用merge函数合并两个DataFrame，并添加一个指示器列
merged_df = pd.merge(df2, df1, on=['股票名称'], how='outer', indicator=True)

# 找出只存在于一个DataFrame中的行
only_in_df2 = merged_df[merged_df['_merge'] == 'right_only']
only_in_df2
# only_in_df2.to_excel("D:\code\jupyter\json-to\diff.xlsx")

         股票名称      _merge
1796     平安银行  right_only
1797      万科A  right_only
1798     国华网安  right_only
1799     ST星源  right_only
1800     深振业A  right_only
...       ...         ...
5273     天宏锂电  right_only
5274     荣亿精密  right_only
5275     恒太照明  right_only
5276     天力复合  right_only
5277  九号公司-WD  right_only

[3482 rows x 2 columns]