In [1]:
import pandas as pd

In [3]:
df = pd.read_excel(io=r"C:\Users\TUNGEE\Desktop\产业上下游结果数据-人工确认.xlsx",sheet_name="Sheet1")

In [27]:
df_temp = pd.read_excel(io=r"D:\code\jupyter\json-to\企业经营产品数量.xlsx")
df_one = df_temp[df_temp['经营产品'] == 1 ]
df_two = df_temp[df_temp['经营产品'] == 2 ]

In [28]:
display(df_two)

      Unnamed: 0   股票名称  经营产品   标记
0              0  *ST三盛     2  多产品
4              4  *ST京蓝     2  多产品
5              5  *ST佳沃     2  多产品
6              6  *ST全新     2  多产品
8              8  *ST凯撒     2  多产品
...          ...    ...   ...  ...
4760        4760   龙洲股份     2  多产品
4765        4765   龙竹科技     2  多产品
4767        4767   龙芯中科     2  多产品
4770        4770   龙迅股份     2  多产品
4772        4772   龙高股份     2  多产品

[1334 rows x 4 columns]

In [29]:
# pd.merge(df,df_one,on="股票名称").to_excel(r"C:\Users\TUNGEE\Desktop\经营产品为1的股票.xlsx")
pd.merge(df,df_two,on="股票名称").to_excel(r"C:\Users\TUNGEE\Desktop\经营产品为2的股票.xlsx")

In [31]:
import akshare as ak

stock_zh_a_hist_df = ak.stock_zh_a_hist(symbol="000001", period="daily", start_date="20170301", end_date='20210907', adjust="")
print(stock_zh_a_hist_df)

              日期     开盘     收盘     最高     最低      成交量           成交额    振幅  \
0     2017-03-01   9.49   9.49   9.55   9.47   346994  3.301580e+08  0.84
1     2017-03-02   9.51   9.43   9.54   9.42   403629  3.823959e+08  1.26
2     2017-03-03   9.41   9.40   9.43   9.36   342655  3.219525e+08  0.74
3     2017-03-06   9.40   9.45   9.46   9.39   404511  3.812123e+08  0.74
4     2017-03-07   9.44   9.45   9.46   9.40   294673  2.777474e+08  0.63
...          ...    ...    ...    ...    ...      ...           ...   ...
1100  2021-09-01  17.48  17.88  17.92  17.01  2316894  4.046284e+09  5.11
1101  2021-09-02  18.00  18.40  18.78  17.80  2422604  4.454545e+09  5.48
1102  2021-09-03  18.50  18.04  18.50  17.70  1394819  2.523273e+09  4.35
1103  2021-09-06  17.93  18.45  18.60  17.78  1515226  2.780281e+09  4.55
1104  2021-09-07  18.60  19.24  19.56  18.35  1622344  3.067366e+09  6.56

       涨跌幅   涨跌额   换手率
0     0.11  0.01  0.21
1    -0.63 -0.06  0.24
2    -0.32 -0.03  0.20
3     0.53  0.05  0.24
4     0.00  0.00  0.17
...    ...   ...   ...
1100  0.45  0.08  1.19
1101  2.91  0.52  1.25
1102 -1.96 -0.36  0.72
1103  2.27  0.41  0.78
1104  4.28  0.79  0.84

[1105 rows x 11 columns]